@use '../foundation/functions' as *;

/* ラッパー */
.l-header-wrapper {
  max-width: rem(1980);
  margin: auto;
}
.l-header__btns-wrapper {
  display: flex;
  margin-left: auto;
  }
.l-hero-wrapper {
  padding-right: rem(16);
  padding-left: rem(16);

}
.l-hero__catch-wrapper {
  text-align: center;
}
.l-stat-circle-wrapper {
  display: flex;
  justify-content: center;
  gap: clamp-rem(375, 4, 1536, 22);
  margin-bottom: clamp-rem(375, 24, 1536, 27);
}
.l-stat-circle__caution-wrapper {
  display: flex;
  flex-direction: column;
}