@use '../foundation/functions' as *;
@use '../foundation/mixin' as *;

/* ラッパー */
.l-header-wrapper {
  max-width: rem(1980);
  margin: auto;
}
.l-header__btns-wrapper {
  display: flex;
  margin-left: auto;
  }
.l-hero-wrapper {
  padding-right: rem(16);
  padding-left: rem(16);
}
.l-hero__img-wrapper {
  margin-right: rem(-9);
  margin-bottom: rem(38);
  margin-left: rem(-8);
  text-align: center;
  @include media(xl) {
    position: absolute;
    bottom: rem(-4);
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }
}
.l-hero__catch-wrapper {
  text-align: center;
}
.l-stat-circle-wrapper {
  display: flex;
  justify-content: center;
  gap: clamp-rem(375, 4, 1536, 22);
  margin-bottom: clamp-rem(375, 24, 1536, 27);
}
.l-stat-circle__caution-wrapper {
  display: flex;
  flex-direction: column;
}
.l-form-wrapper {
  margin-inline: auto;
  @include media(l) {
    margin-inline: 0;
  }
}
.l-btn-wrapper {
  text-align: center;
}
.l-achievement-wrapper {
  padding-right: rem(16);
  padding-left: rem(16);
}
.l-achievement__metrics-wrapper {
  margin-top: clamp-rem(375, 30, 1536, 40);
}
.l-about-wrapper {
  padding-right: rem(17);
  padding-left: rem(17);
}
.l-feature-wrapper {
  padding-right: rem(17);
  padding-left: rem(17);
}
.l-feature__cards-wrapper {
  padding-top: rem(52);
}
.l-cases__slider-wrapper {
  margin-top: clamp-rem(375, 57, 1536, 73);
  padding-right: rem(17);
  padding-left:  rem(17);
  @include media(s) {
    padding-right: rem(32);
    padding-left: rem(32);
  }
}
.l-price-wrapper {
  padding-right: rem(17);
  padding-left: rem(17);
}
.l-price-content-wrapper {
  width: max-content;
  max-width: 100%;
  margin-inline: auto;
}
.l-accordion-wrapper {
  margin-top: clamp-rem(375, 42.5, 1536, 63);
  width: clamp-rem(320, scale(375, 343, 320), 375, 343);
  margin-inline: auto;
  @include media(s) {
    width: clamp-rem(375, 343, 1536, 1024);
  }
}
.l-download-wrapper {
  padding-top: clamp-rem(375, 72, 1536, 96);
  padding-right: rem(16);
  padding-bottom: clamp-rem(375, 46, 1536, 57);
  padding-left: rem(16);
}