@use '../../foundation/functions' as *;
@use '../../foundation/mixin' as *;
@use '../../foundation/variables' as *;

/* アバウト */
.p-about {
  padding-top: clamp-rem(375, 64, 1536, 85);
  color: $black;
  &__text {
    margin-top: rem(64);
    text-align: center;
    font-size: clamp-rem(375, 20, 1536, 24);
    font-weight: 700;
    line-height: 1.8;
    @include media (m) {
      margin-top: rem(51);
    }
  }
  &__underlay {
    margin-top: rem(54);
    padding: 0 rem(13);
    background-color: $backbround-sub;
    border-radius: rem(5);
    max-width: rem(341);
    margin-inline: auto ;
    @include media(m) {
      margin-top: rem(45);
      max-width: rem(808);
      height: rem(276);
      position: relative;
      z-index: 0;
    }
  }
  &__img {
    &--only-sp {
      @include media(m) {
        display: none;
      }
    }
    &--only-pc {
      display: none;
      @include media(m) {
        display: block;
        width: rem(562);
        margin-inline: auto;
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        top: rem(-20);
      }
    }
  }
}