@use '../../foundation/functions' as *;
@use '../../foundation/mixin' as *;
@use '../../foundation/variables' as *;
@use '../../foundation/keyframes' as *;

/* 実績 */
.p-achievement {
  padding-top: clamp-rem(375, 40, 1536, 80);
  &__title {
    font-size: clamp-rem(320, 17, 375, 20);
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: $black;
    @include media(s) {
      font-size: clamp-rem(375, 20, 1536, 32);
    }
  }
  &__metrics-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(8);
    @include media(m) {
      flex-direction: row;
      justify-content: center;
      gap: rem(84);
    }
  }
  &__img {
    max-width: rem(280);
    @include media(l) {
      max-width: clamp-rem(991, 280, 1536, 428);
    }
  }
  &__logo-carousel {
    margin-top: clamp-rem(375, 39, 1536, 64);
    width: 100%;
    overflow-x: hidden;
    position: relative;
  }
  &__logo-track {
    display: flex;
    flex-wrap: nowrap; // 保険のひとこと
    width: max-content;
    animation: scroll-left 20s linear infinite;
    @include media(l) {
      animation: scroll-left 30s linear infinite; // scroll-leftの定義はfoundation/_keyframes.scssで行っている
    }
    transform: translateX(-50%);
  }
  &__logo-item {
    width: clamp-rem(375, 160, 1536, 248);
    margin-right: clamp-rem(375, 63, 1536, 80);
    flex-shrink: 0; // clampの指定幅よりも短くなることを明示的に禁止
    &--first {
      width: clamp-rem(375, 160, 1536, 224);
    }
  }
  &__logo {
    height: clamp-rem(375, 64, 1536, 99);
  }
}