@use '../../foundation/functions' as *;
@use '../../foundation/mixin' as *;
@use '../../foundation/variables' as *;
@use '../../foundation/keyframes' as *;

/* アチーブメントセクション */
.p-achievement {
  padding-top: clamp-rem(375, 40, 1536, 80);
  &__metrics-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(8);
  }
  &__img {
    max-width: rem(280);
  }
  &__logo-carousel {
    margin-top: clamp-rem(375, 39, 1536, 64);
    width: 100vw;
    overflow: hidden;
    position: relative;
  }
  &__logo-track {
    display: flex;
    gap: clamp-rem(375, 63, 1536, 80);
    flex-wrap: nowrap; // 保険のひとこと
    width: max-content;
    animation: scroll-left 30s linear infinite; // scroll-leftの定義はfoundation/_keyframes.scssで行っている
  }
  &__logo-item {
    width: clamp-rem(375, 160, 1536, 248);
    flex-shrink: 0; // clampの指定幅よりも短くなることを明示的に禁止
  }
}