@use '../../foundation/functions' as *;
@use '../../foundation/variables' as *;
@use '../../foundation/mixin' as *;

/* ヒーロー */
.p-hero {
  background: linear-gradient(to right, $main, $sub);
  position: relative;
  &__inner {
    padding-top: clamp-rem(375, 40, 1536, 84);
    padding-bottom: rem(26);
    @include media(m) {
      display: flex;
      gap: rem(161);
      max-width: rem(1200);
      margin-inline: auto;
      padding-left: rem(24);
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    color: $white;
    margin-bottom: rem(-13);
  }
  &__text {
    text-align: center;
    font-size: clamp-rem(375, 14, 1536, 20);
    line-height: 1.5;
    @include media(m) {
      text-align: left;
    }
    &--last {
      line-height: 1.8;
      margin-bottom: clamp-rem(375, 15, 1536, 37);
      @include media(m) {
        line-height: 1.5;
      }
    }
  }
  &__catch {
    margin-top: rem(18);
    margin-bottom: rem(24);
    font-size: clamp-rem(375, 24, 1536, 56);
    font-weight: 700;
    line-height: 1.8;
    text-align: left;
    display: inline-block;
    @include media(m) {
      line-height: 1.5;
      margin-top: rem(11);
      margin-bottom: rem(15);
    }
  }
  &__img {
    display: inline-block;
    max-width: rem(500);
  }
}
