@use '../../foundation/functions' as *;
@use '../../foundation/mixin' as *;
@use '../../foundation/variables' as *;

/* ボタン */
.c-btn {
  font-weight: 700;
  border-radius: rem(25);
  &--submit {
    background-color: $main;
    color: $white;
    line-height: 1;
    padding: rem(13) rem(27);
    @include media(m) {
      font-size: rem(20);
      padding: rem(16) rem(40);
    }
  }
  &--download-cta {
    display: block;
    background-color: $white;
    color: $main;
    font-size: rem(20);
    line-height: 1;
    width: max-content;
    padding: rem(16) rem(30);
    margin-inline: auto;
    @include media(s) {
      padding-right: rem(50);
      padding-left: rem(50);
    }
  }
}