@use '../../foundation/functions' as *;
@use '../../foundation/mixin' as *;
@use '../../foundation/variables' as *;

/* セクションタイトル */
.c-section-title {
  font-size: clamp-rem(375, 24, 1536, 32);
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}