@use '../../foundation/functions' as *;
@use '../../foundation/variables' as *;
@use '../../foundation/mixin' as *;

/* ヒーロー白丸 */
.c-stat-circle {
  width: max-content;
  margin-inline: auto;
  @include media(l) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: rem(5);
  }
  &__item {
    background-color: $white;
    border: 1px solid $main;
    border-radius: 50%;
    width: clamp-rem(320, 90, 375, 112);
    height: clamp-rem(320, 90, 375, 112);
    padding-top: rem(20);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: clamp-rem(320, 10, 375, 17);
    @include media(s) {
      width: clamp-rem(375, 112, 1536, 164);
      height: clamp-rem(375, 112, 1536, 164);
      padding-top: clamp-rem(375, 29, 1536, 41);
      gap: clamp-rem(375, 17, 1536, 26);
    }
  }
  &__head {
    color: $main;
    font-size: clamp-rem(375, 16, 1536, 24);
    font-weight: 700;
    line-height: 1;
  }
  &__data {
    color: $main;
    font-size: clamp-rem(375, 18, 1536, 32);
    font-weight: 700;
    line-height: 1;
    &--last {
      @include media(l) {
        display: block;
        width: 121px;
        margin-left: clamp-rem(767, 10, 1536, 27);
      }
    }
  }
  &__sup {
    color: $black;
    font-size: rem(12);
    font-weight: 700;
    @include media(m) {
      vertical-align: rem(15);
    }
  }
  &__caution {
    font-size: rem(12);
    line-height: 1;
    &--first {
      margin-bottom: rem(7);
    }
    @include media(l) {
      margin-left: rem(-5);
    }
  }
}