@use '../../foundation/mixin' as *;
@use '../../foundation/variables' as *;
@use '../../foundation/functions' as *;

/* ユーティリティ */
.u-only-sp {
  @include media(l) {
    display: none;
  }
}
.u-only-xs {
  @include media(s) {
    display: none;
  }
}
.u-only-pc {
  display: inline;
  @include media(m) {
    font-size: rem(24);
  }
}